<body>
<form method="post" id="id-form">{% csrf_token %}</form>
<table>
  <thead>
    <tr>
      {% for key, _ in samples.0 %}
        <th>{{ key }}</th>
      {% endfor %}
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for item in samples %}
      <tr>
        {% for key, value in item %}
          <td>{{ value }}</td>
        {% endfor %}
        <td>
          <button type="button" onclick="submitForm({{ item.0.1 }})">Delete</button>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<a href="/csv/" class="redirect-button">Download</a>
</body>

<script>
  function submitForm(id) {
    const form = document.getElementById('id-form');

    // Clear existing inputs
    form.innerHTML = '';

    // Add CSRF token input
    const csrfTokenInput = document.createElement('input');
    csrfTokenInput.type = 'hidden';
    csrfTokenInput.name = 'csrfmiddlewaretoken';
    csrfTokenInput.value = '{{ csrf_token }}';
    form.appendChild(csrfTokenInput);

    // Add ID input
    const idInput = document.createElement('input');
    idInput.type = 'hidden';
    idInput.name = 'id';
    idInput.value = id;
    form.appendChild(idInput);

    // Submit the form
    form.submit();
  }
</script>

<style>
    table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #0000;
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
  }
</style>